@model HospitalManagement.Data.Room

@{
    ViewBag.Title = "Details";
}

<h2>Details of Room No : @Model.RoomNumber of @Model.FloorNumber th Floor</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Floor.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floor.Id)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloorNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorNumber)
        </dd>

        <dt>
            @Html.ActionLink("Seats", "RoomToSeatList", new { whereId = @ViewBag.RoomId })
        </dt>

        <dd>
            @ViewBag.CountSeat  | @Html.ActionLink("Add Seat", "RoomToCreate", new { whereId = @ViewBag.RoomId })|
                                  @Html.ActionLink("Delete Seat", "RoomToDelete", new { whereId = @ViewBag.RoomId })

        </dd>               

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FloorId }) |
    @Html.ActionLink("Back to List", "Index",new {id=Model.FloorId })
</p>
