@model HospitalManagement.Data.Doctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <img src=" @Url.Content(Model.ImagePath)" width="200" height="200"
    <hr />
    
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degrees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degrees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurgeryOrMedicine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurgeryOrMedicine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoinningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoinningDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
