<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>:: Swift - Hospital Admin ::</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/moris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/all-themes.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")








</head>
<body class="theme-cyan">


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
   









        <div class="color-bg"></div>
        <div class="container body-content">
            @RenderBody()
            <hr />

        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap-luman")
        @RenderSection("scripts", required: false)
        <!-- Jquery Core Js -->
        <script src="~/Scripts/"></script> <!-- Lib Scripts Plugin Js -->
        <script src="~/Scripts/morphingsearchscripts.bundle.js"></script> <!-- morphing search Js -->
        <script src="~/Scripts/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

        <script src="~/Scripts/jquery.sparkline.min.js"></script> <!-- Sparkline Plugin Js -->
        <script src="~/Scripts/Chart.bundle.min.js"></script> <!-- Chart Plugins Js -->

        <script src="~/Scripts/mainscripts.bundle.js"></script><!-- Custom Js -->
        <script src="~/Scripts/morphingscripts.bundle.js"></script><!-- morphing search page js -->
        <script src="~/Scripts/index.js"></script>
        <script src="~/Scripts/sparkline.min.js"></script>



</body>
</html>