@model IEnumerable<HospitalManagement.Data.Patient>

@{
    ViewBag.Title = "AllPatientIndex";
}
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <h2>AllPatientIndex</h2>

            @*<p>
                    @Html.ActionLink("Create New", "Create")
                </p>*@
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                        <th>Image</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.History)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Diagnosis)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiagnosisBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdmitDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReleaseDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RefferedByDoctor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AssingedDoctor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MedicineHistory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MedicineGivenBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SeatNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Where)
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.Updated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedBy)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <img src=" @Url.Content(item.ImagePath)" width="50" height="50" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.History)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diagnosis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiagnosisBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdmitDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RefferedByDoctor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssingedDoctor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedicineHistory)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MedicineGivenBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SeatNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Where)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Updated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedBy)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Release", "Release", new { id = item.Id })
                            @Html.ActionLink("Treatment", "Treatment", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
            </div></div></section>