@model IEnumerable<HospitalManagement.Data.Floor>

@{
    ViewBag.Title = "Dashboard";
}

<h2> Floor Dashboard of @ViewBag.Building Building</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

@foreach (var item in Model)
{

        if (item.FloorNumber == 1)
        {
            @Html.ActionLink("1st Floor", "Details", new { id = item.Id } , new { @class = "btn btn-primary btn-large" })
        }
        else if (item.FloorNumber == 2)
        {
            @Html.ActionLink("2nd Floor", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-large" })
        }
        else
        {@Html.ActionLink(item.FloorNumber + "th floor", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-large" })}
    
    <br /><br />
   
 }


@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Building.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloorNumber)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Building.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FloorNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>


</table>*@
