@model IEnumerable<HospitalManagement.Data.Ticket>

@{
    ViewBag.Title = "ShowTodays";
}

<h2>ShowTodays</h2>

<p>
    @Html.ActionLink("Go Back to Tickets", "Create",new {BuildingId=ViewBag.BuildingId,CounterId=ViewBag.CounterId })
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedBy)
        </td>
        
    </tr>
}

</table>
