@model HospitalManagement.Data.ICU

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ICU</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.ICUName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICUName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloorNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorNumber)
        </dd>

        <dt>
            @Html.ActionLink("Seats","ICUToSeatList",new {whereId= @ViewBag.IcuId })
        </dt>

        <dd>
            @ViewBag.CountSeat  | @Html.ActionLink("Add Seat","ICUToCreate",new {  whereId = @ViewBag.IcuId })|@Html.ActionLink("Delete Seat", "ICUToDelete", new { whereId = @ViewBag.IcuId })
                                  
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
