@model HospitalManagement.Data.Ward

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ward</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Building.BuildingName)
        </dt>

        <dd>
            @ViewBag.BuildingName
        </dd>

       @* <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Floor.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floor.Id)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloorNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        <dt>
            @Html.ActionLink("Seats", "WardToSeatList", new { whereId = @ViewBag.WardId })
        </dt>

        <dd>
            @ViewBag.CountSeat  | @Html.ActionLink("Add Seat", "WardToCreate", new { whereId = @ViewBag.WardId })|
                                 @Html.ActionLink("Delete Seat", "WardToDelete", new { whereId = @ViewBag.WardId })

        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updatedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updatedby)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
